.event--container {
  padding: 40px 0;
}

.event--header {
  display: flex;
  position: relative;
}

.event--header > img {
  border: 2px solid #0c1a2b;
}

.event--header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 0 20px;
}

.event--header-info > h1 {
  margin: 0;
}

.event--header-info > span:first-of-type {
  margin-bottom: 20px;
}

.event--header-info > span {
  font-weight: bold;
  font-size: 16px;
  color: #2b2b2b;
  /* margin-top: 10px; */
}

.event--header-info > span:last-of-type {
  font-style: italic;
  font-size: 15px;
}

.event--header-additional {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 40px 0 0;
}

.event--content {
  padding: 10px 0;
}

.event--sell {
  display: flex;
  align-items: center;
}

.event--sell > input {
  width: 200px;
  height: 33px;
  border-radius: 3px;
  border-style: solid;
  border: 1px solid grey;
  padding: 5px 10px;
  margin: 0 20px 0 0;
  font-size: 14px;
}

.event--sell-btn {
  width: 200px;
  height: 45px;
  margin-right: 10px;
}

.event--availability {
  height: 100px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid grey;
  margin-bottom: 30px;
  border-radius: 3px;
}

.event--availability > span {
  font-weight: bold;
  font-size: 22px;
}

.event--availability > p {
  margin: 5px 0;
  color: grey;
  font-size: 14px;
}

.event--tickets-info {
  display: flex;
  flex-direction: column;
}