{
  "presets": [
      ["es2015"],
      ["react"]
  ],
  "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread"
  ],
  "env": {
      "development": {
          "plugins": [
              "transform-react-jsx-self",
              "transform-react-jsx-source"
          ]
      }
  }
}